@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Hind&display=swap');

*{
        margin: 0 auto;
        padding: 0;
        font-family: hind;
}


body header img {
            height: 250px;
            width: 90%; 
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
            padding-top: 2%;
        }

#header_section {
                align-items: center;
                background-color: rgb(245, 223, 245);
                }
        


/*styling for nav menu*/

#menu   {
        width:100%;
        position:relative;
        text-align: center;
}
                
#menu ul {
         list-style-type: none;
         margin: auto;
        }

#menu li    {
            margin:auto;
            display: inline-block;
            font-size: 20px;
            letter-spacing: 3px;
            padding: 12px 10px 10px 30px;
}
            
#menu li a {
        text-decoration: none;
        color:brown;
        }
        
#menu li a:hover {
                border-bottom: 2px solid brown;
                color:brown;
                }

/*styling footer*/

footer {
        width:100%;
        height:10%;
        margin: 0 auto;
        padding: 0;
        background-color: rgb(245, 223, 245);
        position:absolute;
        }

#faqs_contact {
                margin: 0 auto;
                padding-top: 15px;
                position: relative;
                } 

#faqs_contact li{
                font-size: 110%;
                margin: auto;                
                float: right;
                display: inline-block;
                text-align: center;
                letter-spacing: 2px;
                padding-right: 20px;
                color: brown;
                }

#faqs_contact li a     {
                text-decoration: none;
                color:brown;
                }
                
#faqs_contact li a:hover {
                        border-bottom: 2px solid brown;
                        color:brown;
                        }
        
#media          {
                padding-left: 20px;
                padding-top: 5px;
                position: relative;
                color:blue;
}
                
#media li       {

                font-size: 150%;
                margin: 0 auto;                    
                display: inline-block;
                float: none;
                text-align: center;
                letter-spacing: 2px;
                padding-right: 20px;
                }

.h1    {
        padding-top: 2%;
        font-family: "Dancing Script";
        font-weight: 300;
        font-style: italic;
        font-size: 300%;
        color:brown;
        text-align: center;
        }

.h2    {
        font-family: "Dancing Script";
        font-weight: 200;
        font-style: italic;
        font-size: 200%;
        color:brown;
        text-align: center;
        }

/*general styling for middle section*/

.background_settings    {
                        background-color:rgb(248, 248, 232);
                        
                }

/*styling the about_us*/

#about_us    {
                margin: 0 auto;
                padding: 0;
                text-align:center;
                position:relative;
                background-color:rgb(248, 248, 232);
}

#about_us h1    {
        padding-top: 2%;
        font-family: "Dancing Script";
        font-weight: 200;
        font-style: italic;
        font-size: 300%;
        color:brown;
        text-align: center;
        }

#about_us p     {
                padding-top: 2%;
                padding-bottom: 2%;
                font-family: hind;
                color:brown;
                text-align: center;
                }
        

#about_us img   {
                padding: 10px 10px;
                border-radius: 3%;
                width: 50%;
                }

/*styling gallery*/

.gallery        {
        background-color:rgb(248, 248, 232);
}

.title h1 {
                font-family: "Dancing Script";
                color: brown;
                font-size: 300%;
                text-align: center;
                font-weight: 200;
                margin-bottom: 5%;
                padding-top: 5%;

}
.each_item_parent       {
                display:inline-flex;
                flex-wrap: wrap;
}

.img_set   {
                width: 40%;
                height:40%;
                min-width:260px;
                min-height: 220px;
}

img     { 
        padding-top: 6%;              
        max-width: 100%;
        max-height: 100%;
}

.img_text       {
                padding: 5%;
                                
                width: 40%;
                height:40%;
                min-width:260px;
                min-height: 220px;
}

.img_text h2    {
                text-align:center;
}

.img_text p {
                text-align: center;
}

       
/*contact page*/
.page_settings  {
        background-color:rgb(248, 248, 232);
        box-align: center;
        }

#form_box       {
                width: 70%;
}

.contact_form{
        height:70%;
        width:100%;
        display:inline-flex;
        flex-wrap: wrap;
        
}

.contact_form label, p    {
        font-size: 110%;
        padding:0 auto;
        margin-bottom: 3%;
        color:brown;
}

p       {
        margin-top: 3%;
        text-align:center;
        }

input {
        size: 180%;
        margin:0 3% 0 0 ;
        border-radius: 10px;
 
        }

#form_container   {
                width: 40%;
                height:40%;
                padding-top: 10%;
                min-width:260px;
                min-height: 220px;
                text-align: left;
                }

#inquiry  {
        width:95%;
        margin-left: 15%;                                         
        }

#form_container2{
        width: 40%;
        height: 20%;
        min-width: 260px;
        min-height: 60px;
        padding-top: 5%;
        text-align: left;
        margin: 0 auto;
        }

#button_submit  {
                display: flex;
                justify-items: center;
                }

#submit {
        width:20%;
        align-self: center;
        padding: 0 auto;
        margin: 0 auto;
        margin-bottom: 20%;
        }



#map_container  {
                background-color:rgb(248, 248, 232);
                padding-bottom: 3%;
                }

#map    {
        width: 60%;
        align-self: center;
        border: 3px inset brown;
        position: relative;
}

#embed_map      {
                width: 100%;
                align-self: center;
                background-color:rgb(248, 248, 232);
                }

                
.h1     {
        box-align: center;
        font-family: "Dancing Script";
        }

/*media settings*/

@media screen and (max-width: 900px)  {
                footer {
                        height:15%;
                        margin:0 auto;
                        }
                #media li      {
                                text-align: center;
                }
                #form_container, #form_container2, #form_container3 {
                        float:none;
                }
        }

#form_container {
                margin: 0 auto;
                padding: 0 auto; 
                font-size: 120%;
                width:100%;
                height: 87%;
                display: flex;
                
                flex-grow: 1;
                flex-direction: column;
                max-width: 90%;
                text-align: left;                                               
                }

#inquiry {
                width:75%;
                height: 150px;                                        
                }

#form_container2{
                margin: 0 auto;
                padding: 0 auto;  
                font-size: 120%;
                width:90%;
                height: 40%;
                text-align: center;
                float:center;
                }

/*#map_container    {
        width: 60%;
        height: 40%;
        min-width: 40%;
        min-height: 40%;
        align-self: center;
        position: relative;
        } */

@media screen and (max-width: 1200px)  {
                footer {
                        height:15%;
                        margin:0 auto;
                        }
                #media li      {
                                text-align: center;
                }
                #form_container, #form_container2, #form_container3 {
                        float:none;
                }
        }

#form_container {
                margin: 0 auto;
                padding: 0 auto; 
                font-size: 120%;
                width:100%;
                height: 87%;
                display: flex;
                
                flex-grow: 1;
                flex-direction: column;
                max-width: 90%;
                text-align: left;                                               
                }

#inquiry {
                width:75%;
                height: 150px;                                        
                }

#form_container2{
                margin: 0 auto;
                padding: 0 auto;  
                font-size: 120%;
                width:90%;
                height: 40%;
                text-align: center;
                float:center;
                }
